*{
  margin: 0px;
  padding: 0px;
}
body {
    color: #40514E;
    margin: 0;
    text-align: center;
  }
  
  h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
  }
  
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
  }
  
  h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #EAF6F6 8px;
    border-bottom: none;
    margin: 85px auto;
    width: 10%;
  }

  .fontsize{
    font-family: 'Newsreader', serif !important;
  font-size: 30px;
  }
  
  .program {
     margin: auto 0 auto 250px;
  }
  
  .pro {
    text-decoration: underline;
  }
  
  .top {
    background-color: #E4F9F5;
    padding-top : 80px;
    position: relative;
    padding-bottom: 35px;
  }
  
  .middle-container {
    margin: 90px 0;
    font-family: 'Newsreader', serif;
    font-size: 30px;
  }
  
  .bottom-container {
    background-color: #66bfbf;
    padding: 60px 0 10px;
  }
  
  .intro {
    margin: auto;
    width: 40%;
  }
  
  .links {
    text-decoration: underline;
  }

  .title{
    padding-bottom: 50px;
    text-decoration: underline;
  }
  
  .skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
  }
  
  .python {
    float: center;
    margin-bottom: 2.5px;
    
    width: 15%;
  }
  
  .sql {
    float: center;
    margin-bottom: 2.5px;
   
    width: 20%;
  }
  
  .web-development {
    float: center;
    margin-bottom: 2.5px;
    
    width: 20%;
  }
  
  .modelling {
    float: center;
    margin-bottom: 2.5px;
    
    width: 20%;
  }
  
  .contact {
    margin: 10px auto 50px;
    width: 40%;
  }
  
 .btn {
    background: #11cdd4;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #3e9f11;

  } 
  .Bottom-container {
    /* text-align:center; */
    padding: 3px;
    background-color: #66BFBF;
    /* color:#eaf6f6; */
    border:#bb2b2b
  }
  .footer-link {
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none;
  }
  
  .footer-link:hover {
    color: rgb(255, 9, 9);
  }
  
  .copyright {
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0 5px 0 !important;
  }
